* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(97, 205, 255);
}



.titulo {
  float: left;
  color: rgb(6, 16, 165);
  font-size: 65px;
  padding: 10px 10px;
  margin-top: 20px;
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.logo {
  background: url(img\logo.png) no-repeat 80% 80%;
  background-size: contain;
  width: 180px;
  height: 156px;
  float: left;
}

.menu {
  position: absolute;
  right: 50px;
}

.menu a {
  float: right;
  color: #94a1bd;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  margin-left: 30px;
  transition: color 1s;
  /text-transform: uppercase;/ padding: 10px 15px;
  margin-top: 65px;
}

.menu a:hover {
  color: #e85860;
}

header {
  width: 1300px;
  height: 1004px;
  background: url(img\fondo2.jpg) no-repeat;
  background-size: cover;
  margin-top: 80px;
}

nav {
  background-color: rgb(0, 0, 4);
  padding: 10px;
  overflow: hidden;
}

nav a:hover {
  color: #c8472c;
}

h2 {
  font-size: 40px;
  color: rgb(191, 6, 3);
  margin-left: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

p {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: justify;
  font-size: 30px;
}

.caja {
  overflow: hidden;
}

.imagen {
  float: left;
  margin: 10px;
  width: 400px;
  height: auto;
}

.imagen2 {
  text-align: center;
  margin: 10px;
  width: 400px;
  height: auto;
}

.contenedor {
  margin: 20px;
  text-align: center;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
}

footer p {
  text-align: center;
}

.social-icons img {
  width: 30px;
  height: auto;
  margin: 0 10px;
}

.contactos-container {
  display: flex;
  gap: 20px;
  background-color: rgb(234, 196, 53);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contacto-item {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.contacto-item h3 {
  margin-bottom: 10px;
  color: rgb(6, 123, 194);
  font-size: 35px;
}

.contacto-item p {
  margin: 5px 0;
  text-align: center;
  font-size: 25px;
}
